{% extends 'layout.html.twig' %}
{% set active = active|default('php') %}
{% set lang = active|default('php') %}
{% set cmmode = lang == 'js' ? 'javascript' : lang == 'sql' ? 'text/x-sql' : lang %}
{% set editor_css = editor_css|default('default') %}

{% block style %}
{{ parent() }}
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/codemirror/codemirror.css">
    {% if editor_css != 'default' %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/codemirror/{{ editor_css}}.css">
    {% endif %}
{% endblock %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% set api_key = app.pastebin.getApiUserKey() %}
        {% set lang = active|default('php') %}

        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                {{ 'Code'|trans }}
                </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner cote_code">
                    <form action="{{ url }}" method="post" novalidate {{ form_enctype(form) }} class="form-horizontal">
                        <div id="form" class="accordion">
                            <div class="control-group">
                                {{ form_widget(form.code) }}
                            </div>
                            <div class="accordion-group control-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#form" href="#collapseMore">{{ 'More'|trans }}</a>
                                </div>
                                <div id="collapseMore" class="accordion-body collapse">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" name="test" value="test" class="btn btn-primary need-code">{{ 'Test'|trans }}</button>
                            <button type="submit" name="save" value="save" class="btn need-code need-name">{{ 'Save'|trans }}</button>
                            <button type="submit" name="del" value="del" class="btn need-code need-name">{{ 'Delete'|trans }}</button>
                            {% if api_key %}
                            <button type="submit" name="pastebin" value="pastebin" class="btn need-code need-name">{{ 'Paste to pastebin.com'|trans }}</button>
                            {% endif %}
                        </div>
                    </form>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                {{ 'Results'|trans }}
                </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse in">
                    <div class="accordion-inner cote_resultat">

                    {{ bloc_resultat|raw }}
                    </div>
                </div>
            </div>
        </div><!-- #accordion -->

    {% else %}
        {# the firewall prevent accessing this #}
        <h2>Not logged !</h2>
        Your a not logged. Please <a href="{{ path('login') }}">{{ 'connect'|trans }}</a>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/codemirror/codemirror.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/xml/xml.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/javascript/javascript.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/css/css.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/clike/clike.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/sql/sql.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/codemirror/mode/php/php.js"></script>


<script type="text/javascript">
    var cmMode="{{ cmmode }}",
        cmTheme="{{ editor_style }}";
{% verbatim %}
    $(document).ready(function () {

        // codemirror editor
        var cmEditor = CodeMirror.fromTextArea(document.getElementById("form_code"), {
            lineNumbers: true,
            theme: cmTheme,
            matchBrackets: true,
            //mode: "application/x-httpd-php",
            mode: cmMode,
            indentUnit: 4,
            indentWithTabs: true,
            enterMode: "keep",
            tabMode: "shift"
        });

        // jquery objects used
        var $needcode = $("button.need-code"),
            $needname = $("button.need-name"),
            $formname = $("#form_name"),
            // snippets
            codes=Array(),
            htmls=Array(),
            comments=Array();

        var setEnabled = function() {
            if(cmEditor.getValue() == '<' + '?php\n') {
                $needcode.attr('disabled','disabled');
            } else {
                $needcode.removeAttr('disabled');
            }
            if($formname.val() == '') {
                $needname.attr('disabled','disabled');
            } else {
                $needname.removeAttr('disabled');
            }
        };

{% endverbatim %}

{% if snippets|length %}
    {% for k,v in snippets %}
        codes["{{ k }}"]="{{ v['code']|raw }}";
        htmls["{{ k }}"]="{{ v['html']|raw }}";
        comments["{{ k }}"]="{{ v['comment']|raw }}";
    {% endfor %}
{% endif %}

{% verbatim %}
        $("#form_snippet").change(function()
        {
            var key = $("#form_snippet").val();
            //$("#form_code").text(codes[key]);
            cmEditor.setValue(codes[key]);
            $("#form_name").val(key);
            $("#form_html").text(htmls[key]);
            $("#form_comment").text(comments[key]);
            setEnabled();
        });

        function load(idx) {
            $("#form_snippet").prop('selectedIndex',idx).change();
        }

{% endverbatim %}
    {% if index > 0 %}
        load({{ index }});
    {% endif %}
{% verbatim %}

        // on change
        //$formcode.change(function(){setEnabled();});
        cmEditor.on("change",function(){setEnabled();});
        $formname.change(function(){setEnabled();});
        // on key up
        //$formcode.keyup(function(){setEnabled();});
        cmEditor.on("cursorActivity",function(){setEnabled();});
        $formname.keyup(function(){setEnabled();});

        // and right now
        setEnabled();


});
{% endverbatim %}
</script>
{% endblock %}