{% extends 'layout-onecol.html.twig' %}
{% set active = 'profile' %}

{% block content %}

    <h2>{{ app.translator.trans("%username%'s profile",{'%username%':user.getUsername()}) }}</h2>

    <form action="{{ path('profile') }}" method="post" novalidate class="form-horizontal">
        {{ form_errors(form) }}

        <fieldset><h4>{{ 'General Options'|trans }}</h4>
        {{ form_row(form.password) }}
        {{ form_row(form.start_page) }}
        {{ form_row(form.editor_style) }}
        </fieldset>

        <fieldset><h4>{{ 'Pastebin Options'|trans }}</h4>
            {{ form_row(form.pb_username) }}
            {{ form_row(form.pb_password) }}
            {{ form_row(form.pb_api_key) }}
            {{ form_row(form.pb_exposure) }}
            {{ form_row(form.pb_expiration) }}
        </fieldset>

        {{ form_rest(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    </form>

{% endblock %}
